@model CourseVM

@{
    ViewBag.Title = "All Courses";

    SelectList selectList;
    if (Model is not null)
    {
        selectList = new(Model.Departments, "Id", "Name", Model.Course.DepartmentId);
    }
    else
    {
        selectList = new(Model.Departments, "Id", "Name");
    }
}

<h2>Create</h2>
<hr />
<h4>Course</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Course.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.MaxDegree"></label>
                <input asp-for="Course.MaxDegree" class="form-control" />
                <span class="text-danger" asp-validation-for="Course.MaxDegree"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.MinDegree"></label>
                <input asp-for="Course.MinDegree" class="form-control" />
                <span class="text-danger" asp-validation-for="Course.MinDegree"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.DepartmentId"></label>
                <select asp-for="Course.DepartmentId" asp-items="selectList" class="form-select"></select>
                <span class="text-danger" asp-validation-for="Course.DepartmentId"></span>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-success me-2">
                    <i class="bi bi-check-lg"></i> Save
                </button>
                <a asp-action="index" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}