

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Web Academic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Branches
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="nav-link text-dark" asp-controller="Department" asp-action="index">Department</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Instructor" asp-action="index">Instructor</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Course" asp-action="index">Course</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Student" asp-action="index">Student</a>
                        </li>
                        @*                        <li>
                        <a class="nav-link text-dark" asp-controller="StudentCourse" asp-action="index">Student Courses</a>
                        </li>*@
                    </ul>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Role" asp-action="index">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="account" asp-action="index">Users</a>
                    </li>
                }
            </ul>

            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>