@model RegistrationVM

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<hr />
<section class="row justify-content-between">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input type="file" accept=".png, .jpg" asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-2 mb-2">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary me-2">
                    Sign Up
                </button>
                <a asp-action="index" asp-controller="home" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        @if (Model.ProfilePicture is not null)
        {
            <div id="image-container">
                <img src="data:image/*; base64,@(Convert.ToBase64String(Model.ProfilePicture))" alt="profile picture" style="height: 400px; border-radius: 30px" />
            </div>
        }
        else
        {
            <div id="image-container" class="d-none">
                <img src="" alt="profile picture" class="img-thumbnail" style="height: 400px; border-radius: 30px" />
            </div>
        }
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function() {
            $("#ProfilePicture").on("change", function() {
                console.log($(this).val().split("\\").at(-1));
                var imageSrc = window.URL.createObjectURL(this.files[0]);
                var imageContainer = $("#image-container");
                imageContainer.removeClass("d-none");
                imageContainer.find("img").attr("src", imageSrc);
            })
        });
    </script>
}
